*{
    padding: 0;
    margin: 0px;
}

.main{
    background-color: #151515;
    width: 100%;
    /* height: 100vh; */
    background-image: url('/client/assets/Group.png');
}
.navbar{
    font-size: large;
}


/* landing page starts */
.landing{
    padding: 20px;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.landing h2{
   font-size: 48px;
    color: white;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.landing h1{
    font-size: 82px;
    
    background: linear-gradient(90deg, #F09FFD 0%, #495C93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.landing p{
    color: #A6AAB2;
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;

}
.landing button{
    width: 169px;
    height: 50px;
    border-radius: 48px;
    background: linear-gradient(90deg, #F09FFD 0%, #495C93 100%);
    color: white;
    border: none;
  color: white;
  font-size: 20px;
}

/* next-landing page  */


.nextL{
    margin-left: 132px;
}
.cards{
    display: flex;
   gap: 20px;
}
.nextL h2{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 30px;

}
.card-1{
    
    border-radius: 24px;

    background: linear-gradient(90deg, #F09FFD 0%, #495C93 100%);
    padding: 4px; /* border thickness */
    
    display: inline-block;

}
.inside{
    background-color: #151515;
    width: 397px;
    height: 280px;
    border-radius: 24px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    gap: 8px;
}
.cards button{
    width: 151px;
    height: 50px;
    border-radius: 24px;
    background-color: #151515;
    color: white;
    font-size: larger;
   
}